.header--fixed {
  position: fixed;
  top: 0;

  // width: 100%;
  // min-height: 80px;
  z-index: 3;

  background-color: $header-background-color;

  @media screen and (max-width: 767px) {
    width: 480px;
    height: 60px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    height: 80px;    
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}

.header--positioned {
  @extend %container;
  display: flex;
  align-items: center;
}

.header__logo {
  @extend %ancor;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;

  font-family: $logo-font;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: $logo-text-color;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.16;   
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__logo .web {
  color: $accent-text-color;
}

// For portfolio
.header__border {
  border-bottom: 1px solid $header-border-color;
} 