.filters {

  @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 93px;
    padding-bottom: 50px;
  }
}

.filters__header {
  @extend %visually-hidden;
}

.filters__list-cover {
  @extend %container;
  @extend %list;
}

.filters__list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    align-content: flex-start;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .filters__list-item {
    margin-right: 8px;
  }

  .filters__list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filters__list-item + .filters__list-item {
    margin-left: 8px;
  }
}


.filters__button {
  @extend %button-portfolio;
  @extend %ancor;
}
