html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $primary-text-color;
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
 }
 
 h1, h2, h3 {
   margin-top: 0;
 }

 .main {
  background-color: $header-background-color;
}