$primary-text-color: #757575;
$titles-text-color: #212121;
$accent-text-color: #2196F3;
$main-title-color: #FFFFFF;
$logo-text-color: #000000;
$header-background-color: #FFFFFF;
$header-border-color: #ECECEC;
$main-background-color: #ffffff;
$team-background-color: #F5F4FA;
$footer-background-color: #2F303A;
$footer-opaque-color: rgba(255, 255, 255, 0.6);
$signature-text-color: rgba(255, 255, 255, 0.4);
$icons-color: #AFB1B8;
$icons-footer-background: rgba(255, 255, 255, 0.1);
$backdrop-background: rgba(0, 0, 0, 0.2);
$form-field-border: rgba(33, 33, 33, 0.2);
$footer-subscribe-border: rgba(255, 255, 255, 0.3);
$examples_overlay-color: rgba(33, 150, 243, 0.9);
$card-border-color: #EEEEEE;
$main-font: Roboto, sans-serif;
$logo-font: Raleway;
