.advantages {
  @extend %section-paddings;
  background-color: $main-background-color;

  @media screen and (max-width: 1199px){
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px){
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages__container {
  @extend %container;
}

.advantages__header {
  @extend %visually-hidden;
}

.advantages__list {
  @extend %list;
  position: relative; 
 
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.advantages__title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $titles-text-color;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px){
    width: 270px;
    display: block;
  }
}

.advantages__text {
  margin-top: 0;
  margin-bottom: 0;

  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px){
    width: 270px;
    display: block;
  }
}

.advantages__item {

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    // width: calc((100% - 90px) / 4); не работате как для 1170px
    width: 270px;
  }
  
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
  }
}

// .advantages__item + .advantages__item {

//   @media screen and (min-width: 1200px) {
//     margin-left: 30px;
//   }
// }

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__icon-bcg {
  display: flex;
  height: 120px;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: $team-background-color;
  border-radius: 4px;

  @media screen and (max-width: 767px){
    width: 450px;
  }

  @media screen and (min-width: 768px){
    width: 354px;
  }

  @media screen and (min-width: 1200px){
    width: 270px;
  }
}