.advantages {
  padding-top: 94px;
    
  background-color: $main-background-color;
}

.advantages__container {
  @extend %container;
}

.advantages__header {
  @extend %visually-hidden;
}

.advantages__list {
  @extend %list;
  position: relative;

  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
 
}

.advantages__title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $titles-text-color;
}

.advantages__text {
  margin-top: 0;
  margin-bottom: 0;

  letter-spacing: 0.03em;
}

.advantages__item {
  width: calc((100% - 90px) / 4);
}

.advantages__item + .advantages__item {
  margin-left: 30px;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__icon-bcg {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: $team-background-color;
  border-radius: 4px;
}