.customers {
  @extend %section-paddings;
  background-color: $main-background-color;
}

.customers__main-title {
  @extend %section-title;
}

.customers__container {
  @extend %container;
}

.customers__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customers__item {
  display: inline-flex;
  width: calc((100% - 150px) / 6);
  height: 90px;
}

.customers__item + .customers__item {
  margin-left: 30px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid $icons-color;
  border-radius: 4px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-text-color;
  }
}

.customers__icon {
  display: inline-flex; 
  fill: $icons-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .customers__link:hover & {
    fill: $accent-text-color;   
  }
}



