.customers {
  @extend %section-paddings;
  background-color: $main-background-color;
}

.customers__main-title {
  @extend %section-title;
}

.customers__container {
  @extend %container;
}

.customers__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.customers__item {
  display: flex;
  height: 90px;
  margin: 15px;

  @media screen and (max-width: 767px) {
    width: calc((100% - 60px) / 2);    
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 90px) / 3);
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    // width: calc((100% - 150px) / 6); не работает
    width: 170px;
  }
}

// .customers__item + .customers__item {
//   margin-left: 30px;
// }

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 1px solid $icons-color;
  border-radius: 4px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    width: 210px;    
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  &:hover,
  &:focus {
    border-color: $accent-text-color;
  }
}

.customers__icon {
  display: inline-flex; 
  fill: $icons-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .customers__link:hover & {
    fill: $accent-text-color;   
  }
}



