.hero {
  text-align: center;
}

.hero__title {
  margin-top: o;
  margin-bottom: 46px;
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $main-title-color;
}

.hero__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__overlay {
  position: relative;
  // min-width: 1600px;
  // height: 600px;
  margin-left: 0;
  margin-right: 0;
  
  background-image: linear-gradient(
    to right, 
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
  ),
  url('../images/Header.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: $footer-background-color;

  @media screen and (min-width: 480px) {
    width: 480px;
    height: 400px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    height: 400px;
  }

  @media screen and (min-width: 1200px) {
    width: 1600px;
    height: 600px;
  }

}