.team {
  @extend %section-paddings;
  background-color: $team-background-color;
}

.team__main-title {
  @extend %section-title;
}

.team__container {
  @extend %container;
}

.team__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.team__item {
  margin: 15px;
  text-align: center;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  background: $main-background-color;

  @media screen and (max-width: 767px) {
    width: 450px;

    & img {
      width: 450px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);

    & img {
      width: 354px;
    }
  }

  @media screen and (min-width: 1199px) {
    width: 270px;
  }

}

// .team__item + .team__item {
//   margin-left: 30px;
// }


.team__names {
  padding-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $titles-text-color;
}


.team__jobs {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.icons__list {
  @extend %list;
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.icons__list > li + li {
  margin-left: 10px;
}

.team__icon {
  width: 44px;
  height: 44px;
  fill: $icons-color;
  border-radius: 50%;
  background-color: $main-background-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $main-title-color;
    background-color: $accent-text-color;
  }
}

